<h1> Kids List </h1>
<% @kids.each do |k| %>
</br>
<%= k.name %>
</br>
<%= k.favorite_toy %>
</br>
<%= k.age %>
</br>
<%= link_to "Edit", edit_kid_path(@kid) %>
</br>
<%= link_to "Delete", kid_path(@kid), method: :delete, data: {confirm: "Kid is deleted, one less tuition payment"}%>

<% end %>
